<p>
<h4>/CHo͞opəˈkäbrə/</h4>
The chupacabra was a very recent addition to the Mysterious Monster Club, coming many decades after Bigfoot and the Loch Ness monster made their debuts. But only a few years after the chupacabra first appeared on the scene, the mystery was solved.</p>
<p>
Bigfoot, the mysterious beast said to roam the North American wilderness, is named after what it leaves behind: big footprints. Bigfoot's Hispanic cousin, the chupacabra, is also named for what it leaves behind: dead animals. Though goats are said to be its favorite prey (chupacabra means "goat sucker" in Spanish), it has have also been blamed for attacks on cats, rabbits, dogs, chickens, and other animals.</p>